
.spinneroutercontainer {
  	bottom: 50%;
  	right: 50%;
  	position:
  	absolute;
}
.spinnerinnercontainer {
  	left: 50%;
  	position: relative;
  	top: 50%;
}

.spinner{
     
    height:50px;
    width: 50px;
     
}